@model Login.Models.ARCHIVO_CSV

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ARCHIVO_CSV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.auxiliar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auxiliar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GRAFICO.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRAFICO.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
