<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Aplicación
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <ul class="nav navbar-nav">
                        @*
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        *@
                        <li>@Html.ActionLink("Categorias", "Index", "Categorias")</li>
                        <li>@Html.ActionLink("Detalles", "Index", "Detalles")</li>
                        <li>@Html.ActionLink("Fuentes", "Index", "Fuentes")</li>
                        <li>@Html.ActionLink("Gráficos", "Index", "Graficoes")</li>
                        <li>@Html.ActionLink("Industrias", "Index", "Industrias")</li>
                        <li>@Html.ActionLink("Parametros", "Index", "Parametroes")</li>
                        <li>@Html.ActionLink("Productos", "Index", "Productoes")</li>
                        <li>@Html.ActionLink("Sector", "Index", "Sectors")</li>
                        <li>@Html.ActionLink("Temporalidad", "Index", "Temporalidads")</li>
                        <li>@Html.ActionLink("Territorio", "Index", "Territorios")</li>
                        <li>@Html.ActionLink("Tipo de Gráfico", "Index", "Tipo_Grafico")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
